<h2>Welcome, <%= @artist.first_name.capitalize %>!</h2>
<% if artist_signed_in? %>
  <%= link_to "My Profile", artists_profile_path(@profile) %>
<% end %>

<div class="centered">
Recently uploaded artwork
</div>
  <div class="row">

  <% if @art != nil %>
    <% @art.each do |piece| %>
    <ul>
      <div class="small-6 columns centered">
        <li><%= image_tag piece.art.thumb.url %></li>
        <li>Artist: <%= piece.artist.first_name  %> <%= piece.artist.last_name %>
        <li>Title: <%= piece.title %></li>
        <li>Description: <%= piece.description %></li>
    <% end %>
      </div>
    </ul>
  <% end %>

</div>
