<% unless @receipts.nil? %>
  <% @receipts.each do |receipt| %>
      <% message = receipt.message %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <% if message.sender.is_a?(Gallery) %>
              <%= message.sender.name %> <br>
            <% else %>
              <%= message.sender.first_name %>
            <% end %>
            <small><b>Subject: </b><%= message.subject %></small><br>
            <small><b>Date: </b><%=  message.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>
          </h4>
          <%= message.body %>
        </div>
      </div>
    <% end %>
  <% end %>
