<div class="row">
  <div class="small-4 columns">
    <ul>
    <%= link_to "Compose", new_conversation_path, class: "btn btn-success" %>
    <% if conversation.is_trashed?(current_user) %>
        <li><%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %></li>
    <% else %>
        <li><%= link_to 'Move to trash', trash_conversation_path(conversation), class: 'btn btn-danger', method: :post,
                    data: {confirm: 'Are you sure?'} %></li>
    <% end %>
  </ul>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= render 'mailboxes/folders' %>
  </div>
</div>
  <div class="content-container"
    <%= render partial: 'conversations/messages' %>
      <div class="panel-footer">
        <!-- Reply Form -->
        <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
            <div class="form-group">
              <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
            </div>
            <%= f.submit "Reply", class: 'btn btn-danger pull-right' %>
        <% end %>
        <div class="clearfix"></div>
      </div>
  </div>
</div>
