<div class="content-container">
  <h2><%= @profile.artist.first_name %> <%= @profile.artist.last_name %>'s Profile </h2>
<hr>
<%= @profile.artist.role.capitalize %><br />
Email: <%= @profile.artist.email %><br />

  <%= image_tag @profile.avatar.thumb.url %>

<div class="bio">
  <p>
    <% if @profile.bio %>
      About me: <%= @profile.bio %>
      <br><br>
    <% end %>
  </p>
  <br />
</div>

<% if artist_signed_in? %>
  <div class="edit_account">
    <%= link_to "Edit profile", edit_artist_registration_path(@profile)  %>
  </div>

  <div class="Avatar">
    <%= link_to "Add a profile picture and edit bio", edit_artists_profile_path(@profile) %>
  </div>

  <div class="art">
    <%= link_to "Upload art", new_artist_artwork_path(@profile) %>
  </div>
<% end %>

<% if gallery_signed_in? %>
  <%= link_to "Select this artist", artists_profile_relations_path(@profile.artist), method: :post %>
<% end %>
</ul>
</div>
