<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

    <title><%= content_for?(:title) ? yield(:title) : "Artify" %></title>
    <link rel="icon" href="http://www.clipartbest.com/cliparts/niB/Xoe/niBXoejXT.png" />
    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar brittas-bar">
      <div class="top-bar-left">
        <%= link_to image_tag("artify.png"), root_path, class: "logo" %>
      </div>
      <div class="top-bar-right">
        <ul class="menu-align-right">
          <% if gallery_signed_in? %>
            <li class="nav">
              <%= link_to "Log Out", destroy_gallery_session_path, class: "nav-link" %>
            </li>
            <li><%= link_to "Inbox", mailbox_inbox_path %></li>
          <% elsif artist_signed_in? %>
            <li class="nav">
              <%= link_to "Log Out", destroy_artist_session_path, class: "nav-link" %></li>
            </li>
            <li><%= link_to "Inbox", mailbox_inbox_path, class: "nav-link" %></li>
          <% end %>
        </ul>

      </div>
    </div>

  <div class="row column">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag(:div, msg, class: "alert alert-#{name}", style: "color:white") %>
        </div>
      <% end %>
    <% end %>

    <div class="row column">
      <%= yield %>
    </div>
  </body>
</html>
