<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

    <title><%= content_for?(:title) ? yield(:title) : "Urbanite" %></title>
    <link rel="icon" href="http://www.clipartbest.com/cliparts/niB/Xoe/niBXoejXT.png" />
    <%= stylesheet_link_tag    "application", media: 'all' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" datar-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">Artify</a></h1>
        </li>


  <div class="row column">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag(:div, msg, class: "alert alert-#{name}", style: "color:white") %>
        </div>
      <% end %>
    <% end %>

    <div class="row column">
      <%= yield %>
    </div>

    <div class="row column">
      <% if current_artist %>
        <%= link_to "Log Out", destroy_artist_session_path, class: "nav-link" %>
      <% end %>
    </div>

    <div class="row column">
    <% if current_gallery %>
      <%= link_to "Log Out", destroy_gallery_session_path, class: "nav-link" %>
    <% end %>
    </div>

  </body>
</html>
